h1,h2,h3,h4,h5,h6 {
  color: darkred;
  font-family: sans-serif;
}

#scoreBoard,th, tr, td {
  border: 2px solid darkgray;
  text-align: center;
}
th {
  color: darkgreen;
  font-weight: bold;
}
ul {
  list-style: square;
}
.hyperLink {
  text-decoration: none;
}
.hyperLink:hover {
  background-color: orange;
}
.hyperLink:link {
  color: blue;
}
.hyperLink:visited {
  color: rebeccaPurple;
}
blockquote {
  background-color: black;
  color: lime;
}
tbody > tr:first-child {
  background-color: orange;
  opacity: .75;
}
tbody > tr:last-child {
  background-color: lightblue;
  opacity: .75;
}
thead, tfoot {
  background-color: yellow;
  opacity: .75;
}
#teamRoster > li > img {
  position: absolute;
  padding-top: 50px;
  width: 100px;
  height: 50px;
  left: 100px;
  z-index: -1;
  opacity: .3;
}
#checkbox-grid > li {
  list-style: none;
}
#teamRoster > li > ul > li > ol > li:first-child {
  font-weight: bold;
}
